

#chat {
    background: rgb(247, 170, 170);
}

#You {
    background: #F8F0FF;
}

#friends {
    margin-left: 15%;
}
#messages {
    margin-left: 5%;
}
#sender {
    border: none;
    background: none;
    font-style: italic;
}

#messageView {
    width: fit-content;
} 
