

#chat {
    align-items: justify;
}

#You {
    background: #F8F0FF;
    margin-left:20%;
}

#friends {
    margin-left: 15%;
}
#messages {
    margin-left: 5%;
}
#sender {
    border: none;
    background: none;
    font-style: italic;
}
#messageList {
    background: green; 
    width: fit-content; 
}

#messageView {
    width: fit-content;
} 
