

#chatBox {
    align-items: justify;
    height: 50%;
}

#You {
    text-align:right; 
    padding-right:20px;
    border-bottom:4px black; 
    border-radius:20px;
}

#sendingTime {
    text-decoration:dotted;
}

#friends {
    margin-left: 15%;
}
#messages {
    margin-left: 5%;
}
#sender {
    border: none;
    background: none;
    text-align:right; 
    font-style: italic;
}

#right {
    max-width:50px;
    height: auto; 
}


.container img#Other {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
}

.container img#You{
    float: right;
    max-width:20%;
    margin-right: 0px;
    border-radius: 50%;
    padding:2%;
}
