.container#Login {
    margin-top: 5%;
    align-items: center;
}

.container-lg#login {
    background-color: #F8F0FF;
    width: fit-content; 
    height: fit-content;
    padding:20%;
    align-items: center;
}